body {
  margin: 0;
  padding: 0;
  background: #f38585;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  color:rgb(193, 24, 24)
}

.container {
    height:150px;
    width:250px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: #20d3c1;
}

#output {
  font-size: 2.1rem;
  height:50px;
  
}
img{
    height:50px;
}
button{
    margin:5px;
   

}
